.Container
{
  width:100%;
  height: 100%;
  min-width:1000px;
  min-height:600px;
  border-style:groove;
  border-width:1;
}
#banner
{
  width: 100%;
  height: 100px;
  background-image:url("img/banner.png");
  background-size: cover;
}
.main-header {
  text-align: center;
}
